<app-header></app-header>
<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <div class="card mx-3 my-5 bg-light">
        <div class="row">
          <div class="col-12 text-center">
            <p class="mt-5 mb-2 fs-3 fw-bold ">Disponible</p>
          </div>
        </div>
        <div class="row size=10">
          <div class="col-12 text-center">
            <p class="mt-5 mb-2 fs-2 fw-bold letra-verde bg-white">$ {{usuario.monedero?.toLocaleString()}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-7">
      <div class="card mx-3 my-5">
        <div class="row">
          <div class="col-12 text-center">
            <p class="mt-5 mb-2 fs-3 fw-bold">Cargar cuenta</p>
          </div>
        </div>
        <form class="mx-5 my-3" [formGroup]="depositarForm" (ngSubmit)="depositarDinero(depositarForm.value.valor)">
          <div class="form-group my-2">
            <div class="row">
              <div class="col-2 text-start">
                <label for="id_usuario">Usuario: </label>
              </div>
              <div class="col-10">
                <label>{{usuario.usuario}}</label>
              </div>
            </div>
          </div>
          <div class="form-group my-2">
            <div class="row">
              <div class="col-2 text-start">
                <label>Valor a cargar</label>
              </div>
              <div class="col-10">
                <input type="number" min="1" class="form-control" formControlName="valor" placeholder="valor" id="valor">
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-8">
                <div class="alert alert-danger my-3"
                  *ngIf="depositarForm.get('valor')?.hasError('required') && depositarForm.get('valor')?.touched">
                  El campo valor es obligatorio.
                </div>
                <div class="alert alert-danger my-3"
                  *ngIf="depositarForm.controls.valor.errors?.min && depositarForm.get('valor')?.touched">
                  Debe ingresar un valor de mínimo 5000.
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-2 text-start">
                <label>Número de tarjeta</label>
              </div>
              <div class="col-10">
                <input type="text" class="form-control"  placeholder="***********{{ usuario.numero_tarjeta?.slice(12) }}" readonly id="tarjeta">
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-6 text-end">
              <button class="btn btn-danger" (click)="cancelDepositar()" id="btnCancelar">Cancelar</button>
            </div>
            <div class="col-6 text-start">
              <button type="submit" class="btn btn-warning" [disabled]="!depositarForm.valid" id="btnDepositar">Depositar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
